*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(114, 13, 114);
  border: 1px solid black;
}

.navlinks{
  color: white;
  text-decoration: none;
}

.navlinks:visited{
  color: white;
}

.active{
  /* text-decoration: underline; */
  color: rgb(0, 254, 170) !important;
}