body{
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: sans-serif;
}

.heading{
    font-size: 50px;
}

div{
    font-size: 26px;
    line-height: 1.5;
}

/* .authorities{
    font-size: 28px;
}

.zooanimals{
    font-size: 28px;
} */

.authorities,
.zooanimals{
    font-size: 28px;
}

/* Margin, Padding and Border */
.para{
    /* border: width type color */

    border: 2px solid black;
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
    /* padding: 25px; */
    /* margin-top: 30px; */
    /* border-top: 2px solid red;
    border-bottom: 3px solid green; */
}