.chat-app-heading{
    text-align: center;
}

.chat-box{
    width: 90vw;
    height: 90vh;
    /* border: 5px solid black; */
    margin: auto;
    border-radius: 5px;
    display: flex;
}


.user-details{
    width: 30%;
    height: 98%;
    border: 1px solid black;
    margin-top: 0.5%;
    margin-left: 10px;
}

.chat-messenger{
    width: 68%;
    height: 98%;
    border: 1px solid black;
    margin-top: 0.5%;
    margin-left: 10px;
    position: relative;
}

.send-message{
    width: 100%;
    height: 40px;
    /* border: 1px solid #ccc; */
    
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
}

.message-input{
    width: 90%;
    height: 95%;
    padding: 0;
    font-size: 25px;
    /* box-shadow: 1px 2px 2px #ccc; */
}

.send-button{
    width: 8%;
}

.gt-logo{
    font-size: 30px;
}

.chat-application{
    display: none;
}


.current-user{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(104, 165, 104);
}

.chat{
    /* display: flex; */
    margin: 5px;
    width: 100%;
    /* border: 1px solid black; */
}

.chat::after{
    content: "";
    clear: both;
    display: table;
}

.another-chat{
    width: 55%;
    background-color: rgb(133, 199, 133);
    border-radius: 5px;
    float: left;
}

.my-chat{
    width: 55%;
    float: right;
    background-color: beige;
    border-radius: 5px;
    text-align: right;
}