<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{!-- This is to submit a new todo --}}
    {{>formsubmit_todo}}

    {{!-- Loading the entire tasklist --}}
    {{> tasklist}}
</body>

</html>