<li class="taskItem">
    <div class="taskContent">Task : {{t}}</div>
    <div class="btnGroups">
        <a href="/increase?name={{t}}">
            <button class="upBtn">↑</button>
        </a>
        <a href="/decrease?name={{t}}">
            <button class="downBtn">↓</button>
        </a>
        <a href="/deletetask?name={{t}}">
            <button class="deleteBtn">❌</button>
        </a>
    </div>
</li>