*{
    font-size: 40px;
}

.div{
    width: 400px;
    height: 500px;
    background-color: rgb(255, 194, 52);
    margin: 150px auto;
    border: 5px solid black;
    transition: ease-in-out 10s;
    /* transition-duration: 10s; */
    /* transition-delay: 4s; */
    /* transition-timing-function: cubic-bezier(0, 1.59, 1,-0.58); */
}

.div:hover{
    transform: rotateZ(360deg);
    background-color: rgb(255, 222, 144);
    /* border-radius: 50%; */
}
/* 
.div1{l
    width: 400px;
    height: 500px;
    background-color: rgb(103, 67, 0);
    margin: 150px auto;
    border: 5px solid black;
    transform: rotateZ(55deg);
} */