body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: white !important;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;
}

.restaurant-cover-image {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.restaurantDetails-btn {
  width: 100%;
  background-color: blueviolet;
  color: white;
  border: 0;
  /* height: 20px; */
}

.restaurantDetails-btn a:visited{
  color: white;
}

.addtocart-btn:hover{
  cursor: pointer;
}

.restaurants-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.food-item-container{
  width: 100%;
  border: 1px solid red;
  display: flex;
}

.food-item-image{
  text-transform: capitalize;
  width: 25%;
}

.food-item-image img{
  width: 100%;
}

.food-item-details{
  width: 70%;
  padding: 10px;
}

.food-item-price::before{
  content: "₹"
}

.food-item-name{
  text-transform: capitalize;
}

.add-to-cart-btn{
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-number{
  font-size: 10px;
  position: absolute;
  top:-5px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 1px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.cart-heading{
  position: relative;
}