.navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    height: 40px;
    align-items: center;
    background-color: blueviolet;
    /* position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1; */
}

.nav-item{
    text-decoration: none;
    color: black;
}

.nav-item:link,
.nav-item:visited{
    color: black;
}