<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

    {{> generalcss}}
</head>

<body>
    {{> navbar}}

    <h1>Add a new product</h1>

    <form action="/admin/products/add" method="POST">
        <input type="text" name="name" placeholder="Enter Product Name"> <br>
        <input type="text" name="price" placeholder="Enter Product Price"> <br>
        <input type="text" name="description" placeholder="Enter Description"> <br>
        <input type="text" name="imageUrl" placeholder="Enter Product Image Url"> <br>
        <input type="text" name="seller" placeholder="Enter Seller Name"> <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>