<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>

    {{msg}}

    <h1>Welcome to login page</h1>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter username"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button type="submit">Login</button>
    </form>

    <h4>New User? Signup</h4>
    <a href="/signup">Signup</a>
    <h1>Login Via Google</h1>
    <a href="/auth/google">Login via google</a>
</body>

</html>